@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #FF6B6B;
  --secondary-color: #588C7E;

  --transition-speed: 0.3s;

  --font-heading: 'Heebo', 'Arial Hebrew', sans-serif;

  --menu-item-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --menu-item-hover-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);

  --light-green: #F0F7F4;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  width: 100%;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}